@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100vw;
  height: 100vh;

}
.main-page{
  width: 100%;
  height: 100%;
  background: url("https://www.immigration.govt.nz/@@homepage-image/background_image_tablet/R52_2908_92151ff056b1b907fb8bfa85cc67520c.jpg") no-repeat ;
  background-position: center;
  background-size: cover;
}

.bg-pattern {
  background-image: url('../public/images/image.png');
  background-repeat: repeat;
  background-size: 50% auto;
  position: relative;
  padding: 20px;
}

.bg-pattern::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.bg-pattern>* {
  position: relative;
  z-index: 2;
}
.barcode{
  background: url("../public/images/barcode.png");
  background-repeat: no-repeat;
  background-size: cover;
}

